.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    max-width: 376px;
    height: 600px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
}

.preview-image {
    max-width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.preview-image img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.preview-info {
    box-sizing: border-box;
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
}

.preview-title {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.preview-title h1 {
    font-weight: 900;
    font-size: 1.4em;
    color: hsl(223, 47%, 23%);
}

.preview-desc {
    max-width: 100%;
    text-align: center;
    padding: 0px 30px;
}

.preview-desc p {
    color: hsl(224, 23%, 55%);
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1em;
}

.preview-plan {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.preview-plan-annual {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 35px;
}

.preview-plan-annual span:nth-child(1) {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1em;
}

.preview-plan-annual span:nth-child(2) {
    color: hsl(224, 23%, 55%);
    font-weight: 400;
    font-size: 1em;
}

.preview-plan-img {
    margin-right: 20px;
}

.preview-plan-img img {
    align-self: center;
}

.preview-plan a {
    font-weight: 700;
    font-size: 1em;
    color: hsl(245, 75%, 52%);
}

.preview-payment {
    width: 100%;
    padding: 18px 0px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
}

.preview-payment:hover {
    background-color: hsl(245, 70%, 38%);
}

.preview-cancel {
    width: 100%;
    padding: 18px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}



/* div {
    border: 1px solid black;
} */